[submodule "sys11"]
	path = sys11
	url = git@github.com:jenyu7/sys11.git
[submodule "sys10"]
	path = sys10
	url = git@github.com:jenyu7/sys10.git
[submodule "sys08"]
	path = sys08
	url = git@github.com:jenyu7/sys08.git
[submodule "sys07"]
	path = sys07
	url = git@github.com:jenyu7/sys07.git
[submodule "sys09"]
	path = sys09
	url = git@github.com:jenyu7/sys09.git
[submodule "sys06"]
	path = sys06
	url = git@github.com:jenyu7/sys06.git
[submodule "sys05"]
	path = sys05
	url = git@github.com:jenyu7/stunning-bassoon.git
[submodule "sys04"]
	path = sys04
	url = git@github.com:jenyu7/sys04.git
[submodule "sys03"]
	path = sys03
	url = git@github.com:jenyu7/sys03.git
[submodule "sys02"]
	path = sys02
	url = git@github.com:jenyu7/EulerProblems.git
[submodule "sys12"]
	path = sys12
	url = git@github.com:jenyu7/sys12.git
[submodule "sys13"]
	path = sys13
	url = git@github.com:jenyu7/sys13.git
[submodule "project01"]
	path = project01
	url = git@github.com:jenyu7/she_sells_seaSHELLs_by_the_seashore.git
[submodule "sys14"]
	path = sys14
	url = git@github.com:jenyu7/sys14.git
[submodule "sys15"]
	path = sys15
	url = git@github.com:BrianLim167/mks65w15.git
[submodule "sys16"]
	path = sys16
	url = git@github.com:jenyu7/sys16.git
[submodule "sys17"]
	path = sys17
	url = git@github.com:jenyu7/sys17.git
[submodule "project02"]
	path = project02
	url = git@github.com:jenyu7/implosion.git
[submodule "graphics01"]
	path = graphics01
	url = git@github.com:jenyu7/graphics01.git
[submodule "graphics02"]
	path = graphics02
	url = git@github.com:jenyu7/graphics02.git
[submodule "graphics03"]
	path = graphics03
	url = git@github.com:jenyu7/graphics03.git
[submodule "graphics04"]
	path = graphics04
	url = git@github.com:jenyu7/graphics04.git
